# Logs
*.log
npm-debug.log*

node_modules
dist
*.local
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.idea
.DS_Store
*.sw?
John_Smith_III_Resume_master.md
STAR_Stories_John_Smith_III.md
